.user-card {
    width: 35rem;
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 4rem;
    border-radius: 1rem;
    text-align: center;
}

.user-card-img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.user-card-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-card-update-btn,
.user-card-delete-btn {
    font-family: inherit;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: all 0.3s ease;
}

.user-card-update-btn {
    background-color: #2f56ab;
}

.user-card-delete-btn {
    background-color: #ab2f2f;
}
