.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #56ab2f, #a8e063);
}

.add-user-form {
    background-color: #fff;
    padding: 0 6rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.add-user-form-title {
    margin: 2rem 0;
    color: #56ab2f;
    text-align: center;
}

.cards {
    margin: 0 auto;
    max-width: 114rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
